.contacto{
    padding-top: 20px;
    background: var(--background-azul-claro);
}

.contacto__contenedor{
    width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
}

.contacto__contenedor--principal{
    margin-top: 1rem;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.contacto__principal--titulo1{
    font-size: 2rem;
    font-family: var(--letra-titulos);
    margin-bottom: 1rem;
    color: #690F8E;
}

.contacto__principal--descripcion{
    font-size: 1.5rem;
    font-family: var(--letra-contenidos);
    text-align: justify;
    line-height: 1.15;
}

.contacto__principal--imagen{
    width: 18rem;
    margin-top: 1rem;
}

/*Diseño desktop*/
@media screen and (min-width: 1024px){
    .contacto__contenedor--informacion{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .contacto__contenedor--principal{
        width: 50%;
    }
}