.pie__pagina--redes{
    display: none; 
}

/*Diseño desktop*/
@media screen and (min-width: 1024px){
    .pie__pagina--redes{
        display: flex;
        width: 20%;
    }
    .pie__redes--principal{
        display: flex;
        justify-content: space-between;
    }
    .pie__redes--navegacion{
        width: 100%;
    }
}