.informacion__general{
    padding-top: 20px;
}

.informacion__general--contenedor{
    width: 92vw;
    margin: 0 auto;
}

.informacion__personal--titulo{
    text-align: center;
    font-family: var(--letra-titulos);
    font-size: 2rem;
    padding: .8rem;
}

.titulo{
    border: 4px dashed #20bcd5;
    padding: 0 .8rem;
}

/*Diseño desktop*/
@media screen and (min-width: 1024px){
    .informacion__personal{
        display: flex;
        justify-content: space-between;
    }
}