.repositorio{
    border-color: var(--color-botones);
    width: 8rem;
    height: 3.5rem;
    margin-right: 1rem;
    background-color: transparent;
    color: var(--color-botones);
    font-size: 1.4rem;
    cursor: pointer;
}

.demo{
    width: 8rem;
    height: 3.5rem;
    background-color: var(--color-botones);
    border-color: var(--color-botones);
    color: var(--color-blanco);
    font-size: 1.4rem;
    cursor: pointer;
}