.proyectos{
    padding: 35px 0 25px 0;
}

.proyectos__contenedor{
    width: 94vw;
    margin: 0 auto;
}

.caja__proyectos{
    margin-top: 2rem;
}

.descripcion--responsiva{
    display: none;
}

.disenio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Diseño desktop*/
@media screen and (min-width: 1024px){
    .proyectos__contenedor{
        width: 60vw;
    }
}