.contenido__logoYnombre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo{
    width: 5rem;   
}

.encabezado__nombre{
    color: var(--color-blanco);
    font-family: var(--titulo-principal);
    font-size: 2.4rem;
    padding: 0 1.5rem;
}

/*Diseño para moviles*/
@media screen and (max-width: 767px){
    .contenido__logoYnombre{
        flex-direction: column;
    }
    .encabezado__nombre{
        padding-top: 1rem;
        font-size: 2.1rem;
    }
}