.hobbies__contenedor{
    padding-top: 1rem;
    width: 90vw;
    margin: 0 auto;
}

.hobbies__lista--items:hover{
    background: var(--color-purpuraPalido);
    transition: 1000ms;
}

.hobbies__lista--items:hover figC{
    font-size: 2.1rem;
}